<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eat Smart</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      .navbar a {
        color: white;
      }
    </style>
  </head>
  <body>
    <nav class="navbar bg-primary text-white">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"> Eat Smart </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="{{ url_for('registration') }}"
              ><span class="glyphicon glyphicon-user"></span> Sign Up</a
            >
          </li>
          <li>
            <a href="{{ url_for('login') }}"
              ><span class="glyphicon glyphicon-log-in"></span> Login</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
  <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Tweet</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
	    {% for item in output_list %}
            <td>{{ item }}</td>
	    {% endfor %}
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>

